*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom:2px solid gray;
    text-align: center;
}
.admin-content{
    display: flex;
}
.admin-content-left{
    background-color: antiquewhite;
    width: 20%;
    height: 150vh;
    padding: 30px 30px;
}
.admin-content-left>ul>li>ul>li:first-child{
    padding-top:5px ;
}
.admin-content-left>ul>li>ul>li{
    list-style: circle;
}
.admin-content-left>ul>li>a{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: teal;
}
.admin-content-left ul li ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: tomato;
 
}
.admin-content-left>ul>li>ul>li>i{
  padding-right: 6px;
}
.admin-content-left ul li {
    margin: 6px 0;
}
.admin-content-left ul li ul {
    margin-left: 20px; 
}
.admin-content-right{
    background-color: antiquewhite;
    border-left:2px solid #dddddd ;
    width: 80%;
    padding: 30px 20px 0;
}
.admin-content-right-category-add input{
    height: 35px;
    width: 200px;
    padding-left: 12px;
    margin-top: 12px;
}
.admin-content-right-category-add button{
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    height: 33px;
    width: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}
.admin-content-right-category-add button:hover{
    background-color: tomato;
    color: white;
}
/*------------------ category_list --------------*/
.admin-content-right-category-list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
}
.table{
    border-collapse: collapse;
}
.admin-content-right-category-list table tr th,td{
    border: 1px solid black;
}
/* -------------Product-------------- */
.admin-content-right-product_add h1{
    margin-bottom: 20px;
}
.admin-content-right-product_add input,select{
    display: block;
    width: 200px;
    height: 35px;
    margin: 6px 0 16px;
}
.admin-content-right-product_add textarea{
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
}
.admin-content-right-product_add button{
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    height: 33px;
    width: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}
.admin-content-right-product_add button:hover{
    background-color: tomato;
    color: white;
}
.product_search{
   margin:  16px 0;
   width: 100%;
}
/* .product_search-form fieldset{

} */
.product_search-form fieldset input{
    width: 100px;
    height: 34px;
}