*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
li{
    list-style: none; 
    /* border: 1px solid red; */
   

    
}
a{
    text-decoration: none;
    color: #000;
}
header {
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
    padding: 0 50px -50px 0px;
    height: 70px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255, 255,225,0.3);
    
}
header:hover{
    background: rgba(255, 255,255,1);
}
.logo{
    flex:1;   
}
.menu{
    flex:3;
    display: flex;

}
.menu>li{
    padding: 0 24px;
    position: relative;
}
.menu>li:hover .sub-menu{
   visibility: visible;
   top:50px;
}
.sub-menu{
    position: absolute;
    width: 120px;
    padding: 5px 0 10px 10px;
    visibility: hidden;
    top :60px;
    transition: 0.2s ease-in-out;
    z-index: 1;
    background: white;
}
.sub-menu >li> a{
    /* background-color: beige; */
    font-weight: normal;
    position: relative;


}
.sub-menu li a::after {
    content: "";
    height: 5px;
    width: 40px;
    background: tomato;
    position: absolute;
    bottom: 0px;
    left: 0px;  
    transition: all 0.2s ease-in-out;
    visibility: hidden
}
.sub-menu li a:hover::after{
    transform: translate(100%);
    visibility: visible;

}
.menu>li a{
    /* border: 1px solid gold; */
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 20px;
    block-size: 35px;
}
.orthe{
    flex:1;
    display: flex;
}
.orthe>li{
    padding: 0 12px;
}

.orthe>li:first-child{
    position: relative;
    
}
.orthe>li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orthe>li:first-child i{
    position: absolute;
    right: 10px;
}
#slider{
    padding-bottom: 30px;
 /* border-bottom: 2px solid #000;  */
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s ease-in-out;

}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.dot{
    height: 16px;
    width: 16px;
    background-color: #CCC;
    border-radius: 50%;
    margin-right: 12px;;
    cursor: pointer;
}
.dot.active{
    background-color: #333;
}
.footer-top{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #CCCCCC;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-bottom{
    text-align: center;
}
/* category */
.container{
    padding-left: 50px;
    max-width: 1400px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.category{
    padding : 100px 0 0;
    /* border: 1px solid blue; */
}
.category-top{
    /* border: 1px solid red; */
    margin-bottom: 50px;
}
.category-top p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 16px;
}
.category-left{
    width: 20%;
}
.category-right{
    width: 80%;
}
.category-right-top-item:first-child{
  flex:2;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.category-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex; 
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.category-right-content-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0px;
}
.category-right-content-item h1 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color: #333333;
}
.category-right-content-item img{
    width: 100%;
}
.category-right-content-item p{
    font-size: 12px;
}
.category-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
    
}
.category-right-bottom p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.category-left >ul>li{
    padding: 12px;
}
.category-left>ul>li>a{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Courier New", Courier, monospace; */
    /* font-family: Florence, cursive; */
    font-family: "Roboto Condensed", sans-serif;
}
.category-left>ul>li>a:hover{
    color: aqua;  
}
.category-left>ul>li>ul>li>a{
    font-family: Blippo, fantasy;
}
.category-left>ul>li>ul>li>a:hover{
    color: red;
}
.category-left>ul>li>ul>li{
    padding-left: 10px;

}
.category-letf-li>ul{
    display: none;
    font-size: 14px;
}
.category-letf-li.block>ul{
    display: block; 
    
}

/* product */
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top>p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 16px;

}
.product-content-left{
    padding-left: 50px;
    width: 50%;
}

.product-content-left-big-img{
    width: 80%; 
    padding-right: 20px;
}
.product-content-left-big-img>img{
    width: 100%;
}

.product-content-left-small-img{
    width: 20%;
   
}
.product-content-left-small-img>img{
    width: 100%;
}
.product-content-right{
    width: 50%;
    padding-left: 50px;
}
.product-content-right-product-name h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    
}
.product-content-right-product-name>p{
    margin: 5px 0;
    color: #bbb;
    font-size: 12px;
}
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.product-content-right-product-color-img>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 12px 0;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;

}
.quantity{
    display: flex;
    margin-bottom: 20px;

}
.quantity>p{
    padding-right: 10px;
    margin-top: 3px;

}
.quantity >input{
    width: 90px;
    height: 25px;
    padding-left: 10px;
}
.product-content-right-product-button>button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: 0.25s ease-in-out;
}
.product-content-right-product-button>button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 1px solid black;
    cursor: pointer;
}
.product-content-right-product-button>button:first-child:hover{
    background-color: #000;
    color: #ffff;
}
.product-content-right-product-button>button:last-child{
    border: 2px solid #BF8A49;
    color: #BF8A49;
    background-color: #ffff;
    cursor: pointer;
}
.product-content-right-product-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item>i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-product-QR>img{
    margin-top: 15px;
    width: 150px;
    height: 150px;
}
.product-content-right-product-bottom{
    position: relative;
    padding-top: 40px;
    border-top: 1px solid #dddddd;

}
.product-content-right-product-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    
}
.product-content-right-product-bottom-content-big-title{
    border-bottom: 2px solid #dddddd;
}
.product-content-right-product-bottom-content-big-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-product-bottom-content-center{
    padding-top: 30px;
}
.product-content-right-product-bottom-content-center-chitiet>p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(29, 41, 46);
}
.product-content-right-product-bottom-content-center-baoquan{
    display: none;
}
.active2{
    display: none;
}
/* product-Related */
.product-related{
    margin-bottom: 50px;
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.product-related-item{
    width: calc((100% - 100px)/5);
    text-align: center;
    margin: 0 6px;
    padding: 10px;

}
.product-related-item:first-child{
    margin-left: 20px;
}
.product-related-item>img{
    width: 100%;
}
.product-related-item>h1{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 6px;
}
.product-related-item>p{
    font-size: 12px;
    text-decoration: solid;
}
.cart{
    padding: 100px 0;
}
.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
/* .cart-top-shopping{
    border: 1px solid #0DB7EA;
}
.cart-top-shopping>i{
    color: #0DB7EA;
} */
.cart-content-left{
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table{
    width: 100%;
    text-align: center;
}
.cart-content-left table th{
    padding-bottom: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left table p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}
.cart-content-left table input{
    width: 30px;
}
.cart-content-left table span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;

}
.cart-content-left td:first-child img{
    width: 130px;
}
.cart-content-left table td{
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left td:nth-child(2){
    max-width: 150px;
}
.cart-content-left td:nth-child(3) img{
    width: 25px;
}
.cart-content-right{
    flex: 1;
    padding-left: 15px;
    border-left: 2px solid #dddddd;
}
.cart-content-right table{
    width: 100%;
}
.cart-content-right table th{
    padding-bottom: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    text-transform:uppercase; 
}
.cart-content-right table td{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4){
    border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td:last-child{
    text-align: right;
}
.cart-content-right-text{
    margin: 20px 0;
    text-align: center;

}
.cart-content-right-text p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}
.cart-content-right-button{
    text-align: center;
    align-items: center;
}
.cart-content-right-button button{
    padding: 0 20px;
    height: 35px;
    cursor: pointer;
    
}
.cart-content-right-button button:first-child{
    background-color: #ffff;
    border: 2px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color: #0DB7EA
}
.cart-content-right-button button:last-child{
    background-color: black;
    border: 2px solid black;
    margin-right: 20px;
    color: #fff;
}
.cart-content-right-button button:last-child:hover{
    background-color:#fff;
    color: #333;
}
.cart-content-right-login{
    margin-top: 20px;
}
.cart-content-right-login p{ 
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}
/* ----------------------------delivery ----------------------------------------------------*/
.delivery{
    padding: 110px 0;
}
.delivery-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.delivery-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.delivery-top-item i{
    color: #dddddd;
}
.delivery-top-address i{
    color: #0DB7EA;
}
.delivery-content-left{
    width: 60%;
    padding: 12px;
}
.delivery-content-left p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  
}
.delivery-content-left label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}
.delivery-content-left>p{
    font-weight: bold;
}
.delivery-content-left-login{
    margin-top: 12px;
}
.delivery-content-left-login i{
    font-size: 16px;
    margin-right: 12px;
}
.delivery-content-left-khachle{
    margin: 12px 0;
}
.delivery-content-left-khachle input{
    margin-right: 12px;
}
.delivery-content-left-signup{
    margin-bottom:30px ;
}
.delivery-content-left-signup input{
    margin-right: 12px;
}
.delivery-content-left-input-top{
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom span{
    margin-right: 12px;
}
.delivery-content-left-input-bottom p{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.delivery-content-left-button{
    justify-content: space-between;
    padding: 20px;
}
.delivery-content-left-button button{
    height: 35px;
    border: 2px solid black;
    padding: 10px 6px;
    cursor: pointer;
}
.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}
.delivery-content-right table{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}
.delivery-content-right table tr th:first-child {
    text-align: left;
}
.delivery-content-right table tr th{
    padding-bottom: 16px;
    border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td{
    padding: 6px 0;
}
.delivery-content-right table tr td:last-child{
    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}
